/* Temporary styles for Pacman 3D */

@font-face {
    font-family: Orbitron;
    src: url(fonts/Orbitron-Regular.ttf);
}

* { 
    margin:0; 
    padding:0;
}

body {
    background:#000;
}

#game {
    position:absolute;
    width:1280px;
    height:800px;    
    left:50%;
    top:50%;
    background:url(images/bg3.jpg);
    transform:translate(-50%, -50%);    
    -webkit-transform:translate(-50%, -50%);
    -moz-transform:translate(-50%, -50%);
    -ms-transform:translate(-50%, -50%);
}

header {
    background:rgba(0, 0, 0, 0.26);
    height:45px;
    border-bottom:1px solid rgba(255, 255, 255, 0.26);
    font:17pt Orbitron;
    color:#83cece;
}

#score {
    left:14px;
    top:13px;
    text-align:left;
}

#hiscore {
    top:13px;
    text-align:right;
    right:14px;
}

#game div { opacity:1; position:absolute; }

.lives { position:absolute; z-index:200; }

.p  { position:absolute; z-index:200; }
.pr { position:absolute; z-index:1; }
.pm { position:absolute; z-index:300; display:none;}

.energizer  { position:absolute; }
.frightened { background-image:url(images/g4.png); }

#pacman { 
    position:absolute; 
    z-index:300; 
    background:url(images/pm256.png);
    width: 0;
    height: 0;
}

#g0 {
    position:absolute; 
    z-index:300; 
    width: 0;
    height: 0;
    background:url(images/g0.png);   
}

#g1 {
    position:absolute; 
    z-index:300; 
    width: 0;
    height: 0;
    background:url(images/g1.png); 
}

#g2 {
    position:absolute; 
    z-index:300; 
    width: 0;
    height: 0;
    background:url(images/g2.png);   
}

#g3 {
    position:absolute; 
    z-index:300; 
    width: 0;
    height: 0;
    background:url(images/g3.png); 
}

#g0b {
    position:absolute; 
    z-index:300; 
    width: 7px;
    height: 7px;
    background:url(images/g4.png);   
}

#g1b {
    position:absolute; 
    z-index:300; 
    width: 7px;
    height: 7px;
    background:url(images/g4.png); 
}

#g2b {
    position:absolute; 
    z-index:300; 
    width: 7px;
    height: 7px;
    background:url(images/g4.png);   
}

#g3b {
    position:absolute; 
    z-index:300; 
    width: 7px;
    height: 7px;
    background:url(images/g4.png); 
}

#g0c {
    position:absolute; 
    z-index:300; 
    width: 7px;
    height: 7px;
    background:url(images/g5.png);   
}

#g1c {
    position:absolute; 
    z-index:300; 
    width: 7px;
    height: 7px;
    background:url(images/g5.png); 
}

#g2c {
    position:absolute; 
    z-index:300; 
    width: 7px;
    height: 7px;
    background:url(images/g5.png);   
}

#g3c {
    position:absolute; 
    z-index:300; 
    width: 7px;
    height: 7px;
    background:url(images/g5.png); 
}

#g0d {
    position:absolute; 
    z-index:300; 
    width: 1px;
    height: 1px;
    background:url(images/g6.png);   
}

#g1d {
    position:absolute; 
    z-index:300; 
    width: 1px;
    height: 1px;
    background:url(images/g6.png); 
}

#g2d {
    position:absolute; 
    z-index:300; 
    width: 1px;
    height: 1px;
    background:url(images/g6.png);   
}

#g3d {
    position:absolute; 
    z-index:300; 
    width: 1px;
    height: 1px;
    background:url(images/g6.png); 
}

#w1 {
    width:764px;
    height:117px;
    background:url(images/w0.png);
    top:96px;
    left:258px;
    z-index:0;    
}

#w2 {
    width:764px;
    height:85px;
    background:url(images/w0.png) 0 -117px;
    top:213px;
    left:258px;
    z-index:35;    
}

#w3 {
    width:84px;
    height:47px;
    background:url(images/w1.png);
    top:122px;
    left:365px;
    z-index:10;
}

#w4 {
    width:105px;
    height:47px;
    background:url(images/w2.png);
    top:122px;
    left:482px;
    z-index:10;
}

#w5 {
    width:105px;
    height:47px;
    background:url(images/w3.png);
    top:122px;
    left:693px;
    z-index:10;
}

#w6 {
    width:84px;
    height:47px;
    background:url(images/w4.png);
    top:122px;
    left:831px;
    z-index:10;
}

#w7 {
    width:84px;
    height:37px;
    background:url(images/w5.png);
    top:172px;
    left:352px;
    z-index:20;
}

#w8 {
    width:123px;
    height:41px;
    background:url(images/w6.png);
    top:172px;
    left:459px;
    z-index:30;
}

#w9 {
    width:123px;
    height:85px;
    background:url(images/w6.png);
    top:213px;
    left:459px;
    z-index:35;
    background-position:0 -41px;
}



#w10 {
    width:182px;
    height:80px;
    background:url(images/w7.png);
    top:172px;
    left:549px;
    z-index:20;
}

#w11 {
    width:123px;
    height:41px;
    background:url(images/w8.png);
    top:172px;
    left:698px;
    z-index:30;
}

#w12 {
    width:123px;
    height:85px;
    background:url(images/w8.png);
    top:213px;
    left:698px;
    z-index:35;
    background-position:0 -41px;
}

#w13 {
    width:84px;
    height:37px;
    background:url(images/w9.png);
    top:172px;
    left:843px;
    z-index:20;
}

#w14 {
    width:210px;
    height:60px;
    background:url(images/w10.png);
    top:257px;
    left:535px;
    z-index:40;
}

#w15 {
    width:210px;
    height:33px;
    background:url(images/w10.png) 0 -60px;
    top:317px;
    left:535px;
    z-index:45;
}

#w16 {
    width:51px;
    height:101px;
    background:url(images/w11.png);
    top:306px;
    left:440px;
    z-index:45;
}

#w17 {
    width:51px;
    height:101px;
    background:url(images/w12.png);
    top:306px;
    left:789px;
    z-index:45;
}

#w18 {
    width:222px;
    height:110px;
    background:url(images/w13.png);
    top:361px;
    left:528px;
    z-index:55;
}

#w19 {
    width:109px;
    height:121px;
    background:url(images/w14.png);
    top:422px;
    left:270px;
    z-index:70;
}

#w20 {
    width:139px;
    height:50px;
    background:url(images/w15.png);
    top:421px;
    left:429px;
    z-index:70;
}

#w21 {
    width:139px;
    height:50px;
    background:url(images/w16.png);
    top:421px;
    left:712px;
    z-index:70;
}

#w22 {
    width:109px;
    height:121px;
    background:url(images/w17.png);
    top:422px;
    left:900px;
    z-index:70;
}

#w23 {
    width:248px;
    height:134px;
    background:url(images/w18.png);
    top:489px;
    left:516px;
    z-index:80;
}

#w24 {
    width:336px;
    height:70px;
    background:url(images/w19.png);
    top:490px;
    left:223px;
    z-index:80;
}

#w25 {
    width:336px;
    height:63px;
    background:url(images/w19.png) 0 -70px;
    top:560px;
    left:223px;
    z-index:90;
}

#w26 {
    width:336px;
    height:70px;
    background:url(images/w20.png);
    top:490px;
    left:721px;
    z-index:80;
}

#w27 {
    width:336px;
    height:63px;
    background:url(images/w20.png) 0 -70px;
    top:560px;
    left:721px;
    z-index:90;
}

#w28 {
    width:1060px;
    height:184px;
    background:url(images/w21.png);
    top:306px;
    left:110px;
    z-index:40;
}

#w29 {
    width:1060px;
    height:163px;
    background:url(images/w21.png) 0 -184px;
    top:490px;
    left:110px;
    z-index:80;
}

#w30 {
    width:1060px;
    height:43px;
    background:url(images/w21.png) 0 -347px;
    top:653px;
    left:110px;
    z-index:100;
}